
<div class = "container">
  <h1>Stupid Coaching</h1>

  <div class = "my_question">
    <%=@question%>
    <p><em>-You</em></p>
  </div>

  <div class = "coach_answer">
    <%=@answer%>
    <p><em>-Your coach</em></p>
  </div>


    <%= link_to "Ask a new question", ask_path %>
</div>
